[submodule "lib/font_opensans"]
	path = lib/font_opensans
	url = https://github.com/googlefonts/opensans.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/Osmanyasal/spdlog.git
[submodule "lib/libpfm4"]
	path = lib/libpfm4
	url = https://github.com/Osmanyasal/libpfm4.git
[submodule "lib/x86_adapt"]
	path = lib/x86_adapt
	url = https://github.com/tud-zih-energy/x86_adapt.git
