[submodule "lib/font_opensans"]
	path = lib/font_opensans
	url = https://github.com/googlefonts/opensans.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/Osmanyasal/glfw.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/Osmanyasal/imgui.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/Osmanyasal/spdlog.git
[submodule "lib/libpfm4"]
	path = lib/libpfm4
	url = https://github.com/Osmanyasal/libpfm4.git
[submodule "lib/implot"]
	path = lib/implot
	url = https://github.com/epezent/implot.git
[submodule "glew"]
	path = glew
	url = https://github.com/Osmanyasal/glew.git
[submodule "lib/glew"]
	path = lib/glew
	url = https://github.com/Osmanyasal/glew.git
